.messages-block {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  width: 100%;
  flex-basis: content;
}

.messages-block li {
  display: inline-flex;
  align-self: flex-start;
  position: relative;
  flex-direction: column;
  min-width: 56px;
  padding: 4px 10px;
  border-radius: 12px;
  background-color: rgba(43, 43, 43, 0.822);
  color: #ffffff;
}

.messages-block li.is-current-user {
  align-self: flex-end;
}

.messages-block li .message-wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.message-wrapper .message-text,
.message-wrapper .message-time {
  font-size: 12px;
}
