.chat-header {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 4px 14px;
  background-color: #303030;
  color: #ffffff;
}

/* User Info Block */
.user-information-block .username {
  font-size: 14px;
}

.user-information-block .online-status {
  font-size: 12px;
}

/* Button */
.chat-header .chat-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  cursor: pointer;
  background-color: transparent;
  transition: ease-out 0.2s;
}

.chat-header .chat-menu-button:hover {
  border-radius: 100%;
  background-color: #aaa3a318;
}

.chat-menu-button span {
  position: relative;
  color: #ffffff;
}

.chat-menu-button span:before {
  content: '•••';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 2px;
  transform: translate(-50%, -50%) rotate(90deg);
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 0;
}
