.auth-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: sans-serif;
  border-radius: 10px;
  box-shadow: 0 0 0 3px #3498db;
  padding: 100px 150px;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
  row-gap: 25px;
}

.auth-form h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
}

.auth-form input {
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  color: #ffffff;
  border-radius: 24px;
  transition: 0.24s;
}

.auth-form input:focus {
  border-color: #1846dd;
}

.button {
  background: transparent;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 40px;
  color: #ffffff;
  border-radius: 24px;
  transition: 0.24s;
  cursor: pointer;
}

.button:hover {
  background: #1846dd;
}
