.chat-block {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #ffffff;
}

@media (max-width: 580px) {
  .chat-block {
    display: none;
  }
}

.message-input-field-block {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  padding: 12px 20px;
  bottom: 0;
  background-color: #303030;
}

.message-input-field-block textarea {
  width: 100%;
  padding: 10px 0;
  color: #ffffff;
  resize: none;
}

.message-input-field-block textarea::placeholder {
  color: #ffffff;
}
