/* Указываем box sizing */
*,
*:before,
*:after {
  box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(13, 5, 37, 0.95);
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class */
menu,
ul,
li,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Элементы a */
a {
  text-decoration: none;
  color: #000000;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article */
article > * + * {
  margin-top: 1em;
}

button {
  background-color: transparent;
  border: none;
  font: inherit;
}

button:focus {
  outline: none;
}

option {
  padding: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #25293d;
  border-radius: 4px;
}

/* Скрол бар */
::-webkit-scrollbar {
  width: 10px;
  margin-right: 10px;
  border: 0;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background: transparent;
  border: 0;
}

::-webkit-scrollbar-thumb {
  background: #c9c6c6;
  border: 2px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c;
  background-clip: padding-box;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
